@font-face {
  font-family: 'Roboto';
  src: url('../../../public/fonts/Roboto-Regular.woff2') format('woff2') ;
  src: url('../../../public/fonts/Roboto-Regular.woff') format('woff') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playwrite';
  src: url('../../../public/fonts/PlaywriteGBS-Regular.woff2') format('woff2') ;
  src: url('../../../public/fonts/PlaywriteGBS-Regular.woff') format('woff') ;
  font-weight: normal;
  font-style: normal;
}



main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #28B463;
  padding: 10px;
  border: 1px solid #ddd;
  color: whitesmoke;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(68, 162, 250, 0.5);
}
